REDPANDA_VERSION=v25.3.11
CONSOLE_VERSION=v3.6.0

POSTGRES_VERSION=16
POSTGRES_HOST_PORT=5432
POSTGRES_DB=producer_db
POSTGRES_USER=producer
POSTGRES_PASSWORD=producer_password
POSTGRES_MULTIPLE_DATABASES=producer_db,consumer_db

REDPANDA_KAFKA_PORT=19092
REDPANDA_SCHEMA_PORT=18081
REDPANDA_PROXY_PORT=18082
REDPANDA_ADMIN_PORT=9644
CONSOLE_PORT=8080