APP_NAME=starlink_consumer

DATABASE_URL=postgres://producer:producer_password@localhost:5432/consumer_db?sslmode=disable

KAFKA_BROKERS=localhost:19092
KAFKA_TOPIC=user.created
KAFKA_GROUP_ID=starlink_consumer
